<template name="ApplicationLayout">
	<nav class="hidden" id="navigation">
      <ul id="navbar">
        <li class="logo-nav"><a href="/"></a></li>
        <li class="nav-item"><a href="#donate">Donate Now</a></li>
        <li class="nav-item"><a href="#team">Our Team</a></li>
		<li class="nav-item"><a href="#how-it-works">About Us</a></li>
      </ul>
    </nav>

    {{> yield}}

    <footer>
		<div class="row-container">
			 <nav>
			 	<ul>
			 		<li class="footer-item"><a href="/about">About</a></li>

			 		<li class="footer-item"><a href="/faqs">FAQS</a></li>
			 	</ul>
    		</nav>
		</div>
	</footer>
</template>