<template name="ApplicationLayout">
	<!-- Fade in div -->
	<div id="fader">
		<center>
			<img id="opener" class="animate-flicker" src="img/loader.png"/>
		</center>
	</div>

	<!-- Navbar -->
	<nav id="navigation">
      <ul id="navbar">
        <li class="logo-nav"><a class="logo-background" href="/"></a></li>

        <li class="nav-item"><label class="button button-white" id="navbar-signup-button" for="modal-one">Donate Now</label></li>
        <li class="nav-item white-text"><a href="/blog">Blog</a></li>
        <li class="nav-item white-text"><a href="/about">About</a></li>
      </ul>
    </nav>

    <!-- Template -->
  	{{> yield}}

  	<!-- Footer -->
    <footer>
		<div class="gradient container">
			<center>
				 <nav>
				 	<ul>
				 		<li class="footer-item"><a href="/">Home</a></li>
				 		<li class="footer-item"><a href="/about">About</a></li>
				 		<li class="footer-item"><a href="/blog">Blog</a></li>
				 		<li class="footer-item"><a href="/legal">Legal</a></li>
				 		<li class="footer-item"><a href="/faqs">FAQs</a></li>
				 		<li class="footer-item"><a href="/contact">Contact</a></li>
				 	</ul>
    		</nav>
    		</center>
		</div>
	</footer>

	{{> stripePayment}}
	{{> paypalPayment}}
</template>

