<template name="blog">
	<div class="blog-banner">
		<div class="blog-overlay"></div>
		<div class="container">
			<center>
				<h1 class="white-text banner-title">Our Blog</h1>
			</center>
		</div>
	</div>
	<div class="container top-buffer">
		<div class="blog-section">
			<h2 class="blog-title"> Two Cents is going to CITRIS Day at UC Berkeley </h2>
			<h6 class="blog-author"> Posted by <a href="https://www.linkedin.com/in/emilychen55" target="_blank">Emily Chen</a>, Operations @ Two Cents | October 7th 2015 </h6>
			<p class="blog-entry">
				<div class="blog-image">
					<center>
						<img src="img/CITRISDay2015.jpg">
						<p class="blog-caption"></p>
					</center>
				</div>
				<p>
				We’re excited to announce our invitation to UC Berkeley’s CITRIS Day on Tuesday, October 13th 2015.  As we were a part of the CITRIS Mobile App Challenge back in 2014, we will be highlighted during the Demo Session, from 12:00pm - 1:00pm, located at the <a href="https://www.google.com/maps?client=safari&rls=en&q=sutardja+dai+hall&oe=UTF-8&um=1&ie=UTF-8&sa=X&ved=0CAcQ_AUoAWoVChMIlN_rq52zyAIVTSqICh07MAdw" target="_blank">Sutardja Dai Hall Atrium</a>.  
				</p><br> 
				<p>
				<u>What is CITRIS Day?</u><br>
				CITRIS Day is the inaugural showcase of emerging research, leading-edge applications, and collaboration opportunities at the Center for Information Technology Research in the Interest of Society.  This year, CITRIS Day has a theme of “Data, Discovery & Learning in the Interest of Society”.  
				</p><br> 
				<p>
				Speakers include former Governor Gray Davis, Maker Media founder Dale Dougherty, and artificial intelligence pioneer Stuart Russell.  Members of industry, UC Berkeley professors, and the general Berkeley community will also be present.  
				</p><br> 
				<p>
				If you’re in the Berkeley area, please swing by and say hello! 
				Learn more about CITRIS Day <a href="http://citrisday.org" target="_blank">here</a>!
				</p><hr>
			</p>
		</div> 
		<div class="blog-section">
			<h2 class="blog-title"> Two Cents on Social Media </h2>
			<h6 class="blog-author"> Posted by <a href="https://www.linkedin.com/in/emilychen55" target="_blank">Emily Chen</a>, Operations @ Two Cents | September 15th 2015 </h6>
			<p class="blog-entry">
				<div class="blog-image">
					<center>
						<a href="https://facebook.com/twocentsaday" target="_blank"><img id="blog-icons" src="img/facebook-circle-filled-icon.png"></a>
						<a href="https://twocentsaday.com" target="_blank"><img id="blog-icons" src="img/twocents-white.png"></a>
						<a href="https://twitter.com/twocentsaday_" target="_blank"><img id="blog-icons" src="img/twitter-circle-blue-filled-icon.png"></a>
						<p class="blog-caption"></p>
					</center>
				</div>
				<p>
				Two Cents is finally on social media! We will be providing updates on both our Facebook and Twitter page to ensure that you are in the loop with what we doing.  Be sure to like our Facebook page and follow us on Twitter!
				</p><br> 
				<p>
				Facebook Page: <a href="https://facebook.com/twocentsaday" target="_blank">www.facebook.com/twocentsaday</a>
				</p>
				<p>
				Twitter Handle: <a href="https://twitter.com/twocentsaday_" target="_blank">@twocentsaday_</a>
				</p><br> 
				<p>
				As we are trying to create a community for social good, we will also connect with those who are part of this community and build a Two Cents global network.  Thank you for all your support thus far!
				</p><hr>
			</p>
		</div>
		<div class="blog-section">
			<h2 class="blog-title"> How Two Cents All Started </h2>
			<h6 class="blog-author"> Posted by <a href="https://www.linkedin.com/in/emilychen55" target="_blank">Emily Chen</a>, Operations @ Two Cents | August 20th 2015 </h6>
			<p class="blog-entry">
				<div class="blog-image">
					<center>
						<img src="img/teampicture-spring2014.jpg">
						<p class="blog-caption">From left to right: Maruchi Kim, Emily Chen, Quinn Z Shen, and Shyam Kumar</p>
					</center>
				</div>
				<p>
				Throwback!
				</p><br>
				<p>
				In spring 2014, the four co-founders of Two Cents decided to participate in the <a href="http://mobileappchallenge.org" target="_blank">CITRIS Mobile App Challenge</a>. It was here, where our vision was created: to spread philanthropy through everyone’s pocket change.  Two Cents was awarded the People’s Choice and Public Vote award.
				</p><br>
				<p>
				<u>What is the CITRIS Mobile App Challenge?</u><br>
				The Center for Information Technology Research in the Interest of Society (CITRIS) and the Social Apps Lab @ UC Berkeley create information technology solutions for many of our most pressing social, environmental, and health care problems. To promote innovation, community service, and career development among University of California students, CITRIS and the Social Apps Lab are hosting a semester-long competition for the best mobile apps that address identified needs in <b>Civic Tech & Smart Communities; Education; Energy, Climate & Environment; and Health. </b>
				</p><br>
				<p>
				This challenge encourages teams of students from UC Berkeley, UC Davis & UC Merced to develop innovative mobile applications for today’s most pressing societal needs. Through a rigorous 3-month process, students will design, prototype and pitch their ideas. The challenge will culminate in a selection process with prizes, along with a Demo Day to showcase the student’s projects.
				</p><br>
				<u>Thoughts after the Challenge</u><br>
				<p>
				Participating in the CITRIS Mobile App Challenge was a great learning experience and opportunity to realize our ideation of Two Cents.  It was also a great experience to meet other participating groups of talented and intelligent individuals.  If you do get a chance, please take look through the other projects that sprung out of this challenge - all these projects tackled a specific global issue, proposing solutions with a technological approach.
				</p><hr>	
			</p>
		</div>
	</div>
	<div class="bottom-buffer"></div>
</template>
