<template name="content">
	<article id="content">
			<div class="give-container container">
			<center><h1 class="section-header top-buffer">Give</h1>
				<p class="section-paragraph">Pocket change donations of two cents a day.</p></center>
			</div>

			{{> share}}

			<div class="change-container container">
				<center><h1 class="section-header top-buffer">Change</h1>
				<p class="section-paragraph bottom-buffer">Make a difference starting today.</p></center>
				<div class="row">
					<div class="four columns">
						<img src="img/penny-jar.png">
					</div>
					<div class="eight columns">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<div class="top-buffer">
							{{> donate}}
						</div>	
					</div>
				</div>
			</div>
	</article>
</template>