<template name="contact">
	<div class="contact-banner">
		<div class="contact-overlay"></div>
		<div class="container">
			<center>
				<h1 class="white-text banner-title">Contact Us</h1>
			</center>
		</div>
	</div>
	<div class="contact-info">
		<p>
		<b>We would love to hear from you.</b>  If you have any questions, feedback, or would simply like to say hello, please write to us at <a href="mailto:hello@twocentsaday.com" target="_blank">hello@twocentsaday.com</a>.
		</p><br>
		<div class="contact-icons">
			<a href="mailto:hello@twocentsaday.com" target="_blank"><img src="img/mail-circle-grayclear-icon.png"></a>
			<a id="contact-links" href="mailto:hello@twocentsaday.com" target="_blank">hello@twocentsaday.com</a>
		</div>
		<div class="contact-icons">
			<a href="https://twitter.com/twocentsaday_" target="_blank"><img src="img/twitter-circle-grayclear-icon.png"></a>
			<a id="contact-links" href="https://twitter.com/twocentsaday_" target="_blank">Twitter</a>
		</div>
		<div class="contact-icons">
			<a href="https://facebook.com/twocentsaday" target="_blank"><img src="img/facebook-circle-grayclear-icon.png"></a>
			<a id="contact-links" href="https://facebook.com/twocentsaday" target="_blank">Facebook</a>
		</div>
	</div>
</template>