<template name="donate">
	<div class="donate-container">
		<div class="donate-overlay"></div>
		<div class="donate-sub-container container">
			<center>
				<h1 class="section-header white-text">Donate Now</h1>
<!-- 				<div class="section-header donate-header white-text half-top-buffer ">
					Donate
				</div>
				<div class="section-header now-header white-text">
					Now
				</div> -->
				<div class="half-bottom-buffer half-top-buffer">
					<div class="section-paragraph shadow white-text">"Great things are done by a series of small things brought together."</div>
					<div class="section-paragraph shadow italic white-text">- Vincent Van Gogh</div>
				</div>
				<label class="button big-button green-button" id="cc-button" for="modal-one">Credit Card</label>
				<label class="button big-button green-button" id="pay-pal-button" for="modal-two">Paypal</label>
			</center>
		</div>
		<div class="bottom-buffer"></div>
	</div>
</template>