<head>
	<title>Two Cents</title>
	<meta name="google-site-verification" content="PDkqHTjiX1qQFiMCdBLoTs73n2eEvf8RngyFHutNASk" />
</head>

<body>
	<nav class="hidden" id="navigation">
      <ul id="navbar">
        <li class="logo-nav"><a href="#splash"></a></li>
        <li class="nav-item"><a href="#donate">Donate Now</a></li>
        <li class="nav-item"><a href="#team">Our Team</a></li>
		<li class="nav-item"><a href="#how-it-works">About Us</a></li>
      </ul>
    </nav>

	{{> video}}

	<article id="how-it-works">
	</article>

	{{> team}}

	{{> payment}}
</body>

