<template name="mission">
	<div class="container">
		<center>
			<h1 class="top-buffer center">Our Mission</h1>
			<img class="pocket" src="img/pocket.png"/>
			<p class="mission-statement section-paragraph">
				By starting donations at two cents a day, we hope that <br> 
				giving becomes accessible to millions of ordinary people; and by <br>
				capitalizing on the strength in numbers, we believe that <br>
				everyone's pocket change can transform into social change <br>
				to make a difference around our world.

				<br><br>

				<a href="/about" class="button">Read More</a>
			</p>
		</center>
	</div>
	<div class="bottom-buffer"></div>
</template>