<template name="mission">
	<div class="container">
		<center>
			<h1 class="top-buffer center">Our Mission</h1>
			<img class="pocket" src="img/pocket.png"/>
			<p class="mission-statement section-paragraph">
				By starting donations at two cents a day, we hope that giving becomes accessible to millions of ordinary people; and by capitalizing on the strength in numbers, we believe that everyone's pocket change can transform into social change to make a difference around our world.

				<br><br>

				You can read more about our story <a href="/about">here.</a>
			</p>
		</center>
	</div>
	<div class="bottom-buffer"></div>
</template>