<template name="mission">
	<div class="half-top-buffer half-bottom-buffer gray-background" id="mission-statement">
		<center>
			<h4>Mission Statement</h4><br>
			<!-- <img class="pocket" src="img/pocket.png"/> -->
			<p class="mission-statement">
				By starting donations at two cents a day, we hope that
				giving becomes accessible to millions of ordinary people; <br>
				and by capitalizing on the strength in numbers, we believe that
				everyone's pocket change <br> can transform into social change
				to make a difference around our world.

				<!-- <a href="/about" class="button">Read More</a> -->
				<!-- Arrow Down -->
			</p>
<!-- 			<p class="section-paragraph">How It Works</p>
			<div class="white-triangle triangle bounce"></div>
			<div class="triangle bounce"></div> -->
		</center>
	</div>
</template>