<template name="privacy">
	<article id="privacy" class="container">
		<div class="top-buffer bottom-buffer">
			<h3>Privacy Policy</h3>
			<p>
				Two Cents will only collect and use your personal information for newsletters and/or updates about our progress. Transparency of donations is one of our most important philosophies and we want to ensure that you as a subscriber know what your money is going toward. In no way will we ever disclose your personal information without your explicit conzent.

				<br><br>

				As Two Cents evolves, this privacy policy is likely to evolve with it. We will not reduce your rights under this policy without your explicit consent. We will post any policy changes on this page and, if the changes are significant, we will provide a more prominent notice.

				<br><br>

				If at any point you feel that your privacy is at risk, feel free to contact us at privacy@twocentsaday.com</p>

				<br>
		</div>

		<div class="bottom-buffer">
			<h3>Terms and Conditions</h3><br>
			<p>
				Please read these Terms and Conditions ("Terms", "Terms and Conditions") before subscribing to Two Cents (the "Service") operated by Two Cents, LLC. ("us", "we", or "our"). <br><br>

				Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br><br>

				By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you should not access the Service.<br><br></p>

				<h5>Acceptable Use</h5><br>
				<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p><br>

				<h5>Links To Other Web Sites</h5><br>
				<p>
				Our Service may contain links to third-party web sites or services that are not owned or controlled by Two Cents.<br><br>

				Two Cents has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Two Cents shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.<br><br>

				We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.<br><br></p>


				<h5>Governing Law</h5><br>
				<p>
				These Terms shall be governed and construed in accordance with the laws of United States, without regard to its conflict of law provisions.<br><br>

				Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.<br><br></p>

				<h5>Changes</h5><br>
				<p>
				We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br><br>

				By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.<br><br></p>

				<h5>Contact Us</h5><br>
				<p>
					If you have any questions about these Terms, please contact us.
				</p><br>

		</div>
	</article>
</template>