<template name="projects">
	<div class="top-buffer bottom-buffer">
		<!-- <div class="container"> -->
			<center>
				<h1 class="section-header">Our Projects</h1>
				<p class="section-paragraph">
					We’ll send you updates over email every time we reach a goal. In the meantime, feel free to check out our current projects.
				</p>
			</center>

			<div class="project-container half-top-buffer half-bottom-buffer">
					<div id="past-project" class="small-project">
						<div class="project-title">Next Project Title</div>
						<div class="project-image"></div>
						<div class="project-status green-inline">$10,000</div>
						<div class="project-donations">2,756 Donations</div>
					</div>
					<div class="fake-padding"></div>
					<div id="current-project" class="project">
						<div class="project-title">Current Project Title</div>
						<div class="project-image"></div>
						<div class="project-status green-inline">$89,450.08/$100,000</div>
						<div class="project-donations">6,321 Donations</div>
					</div>
					<div class="fake-padding"></div>
					<div id="next-project" class="small-project">
						<div class="project-title">Completed Project Title</div>
						<div class="project-image"></div>
						<div class="project-status green-inline">$1,000/$1,000</div>
						<div class="project-donations">1 Donation</div>
					</div>
			</div>
	</div>
</template>