<template name="projects">
	<div class="top-buffer bottom-buffer">
		<!-- <div class="container"> -->
			<center>
				<h1 class="section-header">Our Projects</h1>
				<p class="section-paragraph">
					We’ll send you updates over email every time we reach a goal. In the meantime, feel free to check out our current projects.
				</p>
			</center>

			<div class="project-container half-top-buffer half-bottom-buffer">
					{{#each projects}}
					<div id="{{_id}}" class="project">
						<div class="project-title">{{project}}</div>
						<div class="project-image-container">
							<img class="project-image" src="{{image}}"/>
						</div>
						<div class="project-status green-inline">${{fundsRaised}}/${{fundsRequired}}</div>
						<div class="project-donations">x Donations</div>
					</div>
					{{/each}}
			</div>
	</div>
</template>