<template name="share">
    <div id="share-close-button">× </div>
	<center>
		<h1 class="share-section-header section-header">Share</h1>
		<br>
		<p class="section-paragraph">
			Please help us spread the word by sharing your<br>Two Cents on Facebook and Twitter!
		</p>
		<br>
		{{>shareIcons}}
	</center>
</template>

<template name="shareIcons">
	<center>
		<a class="share-links" href=""><div class="share-icons" id="facebook-button"></div></a>
		<a class="share-links" href=""><div class="share-icons" id="twitter-button"></div></a>
	</center>
</template>