<template name="story">
	<div class="story-container">
		<div class="container">
			<center>
				<h1 class="white-text story-title">Our Story</h1>
				<p class="our-story">
					<br>
					Two Cents started in March 2014 as a project part of UC Berkeley’s CITRIS Mobile App Challenge 2014.  Originally, Two Cents was designed to be a mobile app that allows users to donate two cents to natural disaster relief or world causes such as poverty, hunger, and water.
					http://mobileappchallenge.org/#ucb
					<br><br>
					Two Cents started in March 2014 as a project part of UC Berkeley’s CITRIS Mobile App Challenge 2014.  Originally, Two Cents was designed to be a mobile app that allows users to donate two cents to natural disaster relief or world causes such as poverty, hunger, and water.
					http://mobileappchallenge.org/#ucb
					<br><br>
				</p>
			</center>
		</div>
	</div>
</template>