<template name="video">		
	<div class="video-container">
		<div class="title-container">
			<div class="container">
				<h1>Give two cents. Make a difference.</h1>
				<br>
				<h5>Pocket change donations to drive the next big social movement.</h5>
				<br>
				<label class="button button-primary splash-button" id="video-button">Watch Video</label>
				<label class="button button-green splash-button" for="modal-one">Donate Now</label>
			</div>
		</div>

		<!-- Overlay -->
		<div class="filter"></div>

		<!-- HTML5 Video -->
		<video autoplay loop>
            <source src="img/twocents-html-050515.mp4" type="video/mp4" />
        </video>

        <!-- Youtube Player -->
        <div id="player"></div>

        <!-- Close Button -->
        <div id="close-button">× </div>
	</div>
</template>