<template name="video">		
	<div class="video-container">
		<div class="title-container">
			<div class="container">
				<h1>Give two cents. Make a difference.</h1>
				<br>
				<h5>Pocket change donations to drive the next big social movement.</h5>
				<br>
				<label class="button button-primary splash-button" id="video-button">Watch Video</label>
				<label class="button button-green splash-button" for="modal-one">Donate Now</label>
			</div>
		</div>

		<!-- Overlay -->
		<div class="filter"></div>

		<!-- HTML5 Video -->
		<video autoplay loop>
			<!-- local video
            <source src="img/twocents-html-050515.mp4" type="video/mp4" /> -->
            <source src="https://s3-us-west-2.amazonaws.com/twocentsaday/twocents-html-050515.mp4?X-Amz-Date=20150525T022710Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=61f80575aa98c886d29b7a501b6ae9b8c57a6b35e9c1aa00d168222668ac3d6f&X-Amz-Credential=ASIAILYMNMV76CJVSA3Q/20150525/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMz//////////wEagAKNxkiH1loGguZk5HHsdEEkjC0rXh5GjiwIm4d0BY1uyRnYbVHmB8Ijx8e8/H1XnQQI7odP%2B4Ae0GgFPR1DbLAPB1txCZssXdjW39rbFbkNQ/Zf7Ruw6TMLTFSWoB8302QCeC6gSNzAhNbv7Xzbsg4EX%2B8Y2aWeahPpV9FX6GF0/fSzR/C2EgK422sQw4EH1f4uMuIP3kfPAra3Kmx5xB%2BWX5ZG9dLYoEgRxmAtn27WwVbdV0NQDOD9fzzbtPjkCn4zbvVHvcvOdqJtnX2gQko8Pd/sy3a6L/SF1HCqD0CpPt2HH6beYFhy7cDoILcXtDT6NDcuzU88DOs4ZwPUBDb9INaNiqsF" type="video/mp4"/>
        </video>

        <!-- Youtube Player -->
        <div id="player"></div>

        <!-- Close Button -->
        <div id="close-button">× </div>
	</div>
</template>