<template name="video">
	<div class="video-container">
		<div class="title-container">
			<div class="container">
				<h1>Give two cents. Make a difference.</h1>
				<h5>Pocket change donations to drive the next big social movement.</h5>
				<br>
				<label class="button button-white big-button" id="video-button">Watch Video</label>
				<!-- <label class="button button-white big-button" for="modal-one">Donate Now</label> -->
			</div>
		</div>

		<!-- Overlay -->
		<div class="filter"></div>

		<!-- HTML5 Video -->
		<video autoplay loop>
			<!-- video -->
            <source src="https://s3-us-west-2.amazonaws.com/twocentsaday/twocents-html-050515.mp4" type="video/mp4"/>
            <!-- fallback -->
            <img src="img/splash.jpg" />
        </video>

        <!-- Youtube Player -->
        <div id="player"></div>

        <!-- Close Button -->
        <div id="close-button">× </div>
	</div>
</template>