<template name="works">
	<div class="works-container half-top-buffer half-bottom-buffer">
		<center>
			<h1 class="white-text section-header half-bottom-buffer">How It Works</h1>
			<div class="white-text">
				<!-- Register -->
				<div class="works-section">
					<img class="sub-image" src="img/logo-white.png">
					<div class="sub-header">Simple Donations</div>
					<p class="works-blurb">
					You’ll give two cents a day (charged as $1 every fifty days) to provide help to our world’s biggest problems.</p>
				</div>

				<!-- Share -->
				<div class="works-section">
					<!-- <img class="sub-image" src="img/network.png"> -->
					<img class="sub-image" src="img/hand-heart.png">
					<div class="sub-header">Strength Together</div>
					<p class="works-blurb">
					Share with your friends and family to help make two cents mean
					more for everyone</p>
					<div class="half-top-buffer"></div>
					<label class="button button-white big-button" for="modal-one">Learn More</label>
				</div>

				<!-- Sit back and relax -->
				<div class="works-section">
					<!-- <img class="sub-image" src="img/hand-heart.png"> -->
					<img class="sub-image" src="img/world-white.png">
					<div class="sub-header">Continuous Generosity</div>
					<p class="works-blurb">
					With two cents from millions of people coming in every day, we'll have the ability to provide recurring donations around the world. </p>
				</div>
			</div>
		</center>
	</div>
</template>