<template name="works">
	<div class="works-container top-buffer bottom-buffer">
		<div class="overlay"></div>
		<div class="works-wallpaper blur"></div>
			<div class="works-content">
				<center>
					<h1 class="white-text center">How You Can Help</h1><br>
					<div class="section-paragraph-white">
						<div class="third-columns" id="register">
							<img src="img/cash-icon.png">
							<br>
							<p>Register to be a donor</p> 
							<br>
							<p class="works-blurb">
							All of your two cents a day donations will go directly toward contributing to issues our world faces today.</p>
							<br><br><br>
							<label class="button button-green splash-button" for="modal-one">Donate Now</label>
						</div>

						<div class="third-columns" id="share">
							<img src="img/share-icon.png">
							<br>
							<p> Share with friends and family</p>
							<br>
							<p class="works-blurb">
							We can use the strength in numbers to turn your pocket change donations into larger meaningful contributions. </p>
							<br><br>
							{{> share}} 
						</div>

						<div class="third-columns" id="email">
							<img src="img/email-icon-white-outline.png">
							<br>
							<p>Sit back and relax</p> 
							<br>
							<p class="works-blurb">
							We will send you updates over email every time we reach a goal. Your wallet won’t notice a difference, but the world will. </p>
						</div>
					</div>
				</center>
			</div>
		</div>
</template>