<template name="worksTwo">
	<div class="top-buffer bottom-buffer">
		<div class="container">
		<center>
			<h1 class="section-header">Strength in Numbers</h1>
			<p class="section-paragraph">
				Share with your friends and family to help make two cents mean more for everyone.
			</p>
			<div class="facts-container half-top-buffer half-bottom-buffer">
				<h4><div class="green-inline">150,000</div> donors would raise <div class="green-inline">$1.1 million</div> / year</h4><br>
				<h4><div class="green-inline">91%</div> surveyed supported $0.02 / day</h4><br>
				<h4><div class="green-inline">1%</div> adoption worldwide x $0.02 / day = <div class="green-inline">$500 million / year</div></h4>
			</div>

			<div class="share-container">
				<h5>Spread the Word!</h5>
				<h6>Click below to share on Facebook and Twitter</h6>
				{{>share}}
			</div>
		</center>

		</div>
	</div>
</template>