
.about-banner {
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url("img/about-banner.png");
  background-size: 100%;
  background-position: 100% 30%;
  background-repeat: no-repeat;
  position: relative;
}

.about-overlay {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
}

.mission-container {
  background-color: #F5F5F5;
  padding: 8%;
  min-height: 200px;
}

.about-text {
  color: black;
}

.team-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#team {
  width: 100%;
  min-height: 100%;
}

#founder-text {
  padding: 50px 0px 50px 0px;
  height: 8em;
  color: gray;
}

.founder-icons {
  padding: 50px 0px 50px 0px;
  height: 8em;
/*  background-color: gray;*/
}

#maruchi-icons, #emily-icons, #quinn-icons, #shyam-icons {
  display: none;
}

.founder-row {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  opacity: 0.65;
  height: 200px;
  width: 200px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 10px;
  padding-right:10px;
  transition: 0.1s;

  /* ADDITIONS FOR ANIMATIONS */
  display: block;
  left: 10px;
  margin-left: -10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
	opacity: 1;
}

.team_member {
/*  width: 24%;*/
  display: inline-block;

  /* ADDITIONS FOR ANIMATIONS */
  z-index: 9;
  cursor: default;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.team_member h3 {
  font-size: 20px
}

.team_member p {
  font-size: 12px;
  color: gray;
}

/* ADDITIONS FOR ANIMATIONS */
.team_member:hover > img {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.6;
}

.contact-icons {
  padding: 5px 0px 5px 0px;
  width:30px;
  height:30px;
  opacity: 0.65;
  display: block;
}

.contact-icons:hover {
  opacity: 1;
}

.story-container {
  height: 50vh;
  width: 100%;
  background-image: url('img/pennies.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.story-background {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.story-title {
  display: block;
  padding-top: 10vh;
  text-shadow: 0px 0px 30px black;
}

.our-story {
  padding: 20px;
  color: white;
  text-shadow: 0px 0px 10px black;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .founder-icons {
    padding: 100px 0px 50px 0px;
  }
  .contact-icons {
    display: inline-block;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .founder-icons {
    padding: 50px 0px 50px 0px;
  }
  .contact-icons {
    display: block;
  }
}