.faq-banner {
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url("img/faq-banner-color.jpg");
  background-size: 100%;
  background-position: 100% 60%;
  background-repeat: no-repeat;
  position: relative;
}

.faq-overlay {
  background-color: black;
  opacity: .2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
}

.faq-container {
  padding: 100px;
}

.banner-title {
  display: block;
  padding-top: 20vh;
  font-weight: bold;
}

.answer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  cursor: default;
  font-weight: normal;
  font-size: 18px;
  color: gray;
}

.question {
  cursor:pointer;
}

.qa-list {
  line-height: 1.5;
  color: #59b390;
}

.question:hover {
  color: black;
  transition: 0.35s;
}

.legal-banner {
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url("img/legal-banner-2.jpg");
  background-size: 100%;
  background-position: 100% 30%;
  background-repeat: no-repeat;
  position: relative;
}

.legal-overlay {
  background-color: black;
  opacity: .15;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
}

.contact-banner {
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url("img/contactus-banner.jpg");
  background-size: 100%;
  background-position:50% 67%;
  background-repeat: no-repeat;
  position: relative;
/*  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

.contact-overlay {
  background-color: black;
  opacity: .2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
}

.contact-info {
  padding: 100px 400px 100px 400px;
}

.contact-icons {
  display: block;
}

#contact-links {
  display: inherit;
  margin-left: 40px;
  margin-top: -35px;
  text-decoration: none;
  color: gray;
}
