#navbar {
  max-width: 85%;
  margin: auto;
}

.logo-background {
  background: url("img/two-cents-white.png") center no-repeat;
  display: block;
  padding: 18px 0px 18px 0px;
  line-height: 20px;
  color: black;
}

#navbar-signup-button {
  margin-left: 10px;
  font-size: 14px;
  padding: 0px 18px;
  background-color: #49a380;
  border: none;
  border-radius: 3px;
}

#navbar-signup-button:hover {
  background-color: #69c3a0;
  color: white;
}

#navigation {
  z-index: 1000;
  background: rgba(235, 235, 235, 0);
  opacity: 1.0;
  position: absolute;
  height: 78px;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  transition: 0.5s; }
  #navigation.hidden {
    background: rgba(0, 0, 0, 0);
    opacity: 0.8;
    visibility: true; }
  #navigation li {
    display: inline-block;
    margin: 0; }
    #navigation li a {
      display: block;
      line-height: 20px;
      color: white; }
    #navigation li.logo-nav {
      text-transform: uppercase;
      font-size: 23px;
      font-weight: bold;
      text-decoration: none; }
    #navigation li.logo-nav a {
      background-size: contain;
      text-decoration: none;
      width: 150px;
      margin-top: 21px;}
    #navigation li.nav-item {
      margin-top: 19px;
      float:right; }
    #navigation li.nav-item a {
      font: normal 14px "Proxima Nova", sans-serif;
      letter-spacing: 0.1em;
      padding: 13px;
      text-transform: uppercase;
      text-decoration: none; }
      #navigation li.nav-item a:hover {
        font-weight: bold;
      }

footer {
/*  background-image:
  linear-gradient(
    to top right,
    #2D78D8, #5EA7D1
  );*/
  background: #fcfcfc;
  color: #245dc1;
  position: relative;
  width: 100%;
  padding: 0px 0 0px 0px; }
  footer li {
    display: inline-block;
    margin: 0; }
    footer li a {
      display: block;
      padding: 12px;
      line-height: 20px;
/*      color: #245dc1;
*/      color: black;
      letter-spacing: 0.03em;
      text-decoration: none;
      font-size: 1em; }
      footer li a:hover {
        color: #59b390;
      }


/*Loading Animation*/
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;

  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
}

#fader {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 999999;
}

#opener {
  height: 7vh;
  padding-top: 44vh;
}


.triangle {
  margin-top: 30px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #c9c9c9;
}

.white-triangle {
  border-top: 15px solid white;
  position: absolute;
  left:50%;
  margin-left: -15px;
  bottom: .5%;
  z-index: 10;
}

.triangle:hover {
  cursor: pointer;
}

.bounce {
  -webkit-animation: bounce 2.5s infinite ease-in-out;
  -moz-animation: bounce 2.5s infinite ease-in-out;
  -ms-animation: bounce 2.5s infinite ease-in-out;
  animation: bounce 2.5s infinite ease-in-out; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@-ms-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }