div.module:last-child {
  margin-bottom: 0;
}
div.module.parallax {
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}
div.module.parallax-1 {
  background-image: none;
}
div.module.parallax-2 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('img/penny-jar.jpg');
}
div.module.parallax-3 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('img/pennies-2.jpg');
}