.share-links {
  z-index: 0;
  display: inline-block;
  padding: 20px 10px;
}

.share-icons {
  background-size: 60px;
  height: 60px;
  width: 60px;
}

.share-icons:hover {
  transition: 0.1s;
}

.project-container {
  /*text-align: center;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.project-image-container {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height: 300px;
    width: 300px;
    background-color: black;
}

.vertical-center {
  vertical-align: middle;
}

.project-modal-center {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.project-modal-description {
  padding: 10px 20px;
}

.circular-image-container {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height: 220px;
    width: 220px;
    background-color: black;
    border: white;
    border-radius: 3px;
    vertical-align: middle;
}

.project-image {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
}

.tall {
  width: 100%;
}

.wide {
  height: 100%;
}

.project {
  display: inline-block;
  float: none;
  vertical-align: middle;
  max-width: 300px;
  position: relative;
  margin: 50px 1.5%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.project-org {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1.1pt;
}

.italic {
  font-style: italic;
}

.project-hidden-content {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
  text-align: center;
}

.black-overlay {
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 300px;
  position: absolute;
}

.project-hidden {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.project-title {
  font-weight: bold;
}

.organization-title {
  color: #828587;
  font-weight: 300;
}

.project-text-container {
  padding: 10px;
}

.project-stat {
  padding-right: 10px;
}

.fake-padding {
  display: inline-block;
  float: none;
  width: 30px;
}

.weight-600 {
  font-weight: 600;
}

.weight-300 {
  font-weight: 300;
}

.big-stat {
  font-size: 4em;
  line-height: 1;
}

.stat-line {
  font-size: 1.5em;
}

.project-stat-container {
  vertical-align: middle;
  text-align: left;
  padding-left: 50px;
}

.project-modal-header {
  font-size: 2em;
}

.project-modal-subheader {
  font-size: 1em;
  line-height: 1;
}

/* All Progress Bars */
progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
}

/* Determinate */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Indeterminate */
progress:not([value]) {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #EEE;
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;*/
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #59b390;
    border-radius: 10px;
}

progress {
    background: #EEE;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #59b390;
    border-radius: 10px;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}

/* Larger than mobile */
@media (min-width: 400px) {

}



/* Larger than phablet */
@media (min-width: 550px) {
  .black-overlay {
    height: 30vw;
    max-height: 300px;
  }

  .project-image-container {
    height: 30vw;
    max-height: 300px;
    width: 30vw;
    max-width: 300px;
  }

  .project {
    max-width: 30vw;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}