.share-links {
  z-index: 0;
  display: inline-block;
  padding: 15px;
}

.share-icons {
  background-size: 60px;
  height: 60px;
  width: 60px;
}

.share-icons:hover {
  transition: 0.1s;
}

.project-container {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;;
}

.project-image-container {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height: 300px;
    width: 300px;
    background-color: black;
}

.project-image {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
}

.tall {
  width: 100%;
}

.wide {
  height: 100%;
}

.project {
  display: inline-block;
  float: none;
  vertical-align: middle;
  max-height: 300px;
  max-width: 300px;
  position: relative;
  margin: 50px 50px;
}

.project-org {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1.1pt;
}

.italic {
  font-style: italic;
}

.project-hidden-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.black-overlay {
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.project-hidden {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.fake-padding {
  display: inline-block;
  float: none;
  width: 30px;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}