html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html,
body {
	width: 100%;
	height: 100%;
  font-family: "Proxima Nova", "Avenir", sans-serif;
}

.green-button {
  margin-left: 10px;
  font-size: 14px;
  padding: 0px 18px;
  background-color: #49a380;
  border: none;
  border-radius: 3px;
}

.green-button:hover {
  color: white;
  background-color: #69c3a0;
}

.section-header {
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.gray-background {
  background-color: #f9f9f9;
}

.partner {
  padding: 2vh 0px;
  display: inline-block;
  width: 16%;
  height: 8vh;
}

.green-inline {
  color: #59b390;
  display: inline;
}

.inline {
  display: inline-block;
}

.button, #submit-button, #submit-paypal-button {
  margin-bottom: 0px;
  font-weight: 500;
  color: white;
  border-radius: 0px;
}

#submit-button, #submit-paypal-button {
  background-color: #59b390;
  border-color: #59b390;
}

#submit-button:hover, #submit-paypal-button:hover {
  background-color: #69c3A0;
  border-color: #69C3A0;
}

.button-white {
  border: 2px solid #fff  ;
  color: white;

  -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  -moz-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  -o-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  transition: color .15s ease, background-color .15s ease, border-color .15s ease;
}

.button-black {
  color: #696d71;
}

.button-black:hover {
  border: 1px solid #666;
  /*color: #234D20;*/
  /*color: #410936;*/
  /*color: #77CCA4;*/
  /*color: #3A89C9;*/
  color: #69C9A0;
}

.button-white:hover {
  background-color: white;
  color: #59b390;
  border: 2px solid #fff;
  -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  -moz-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  -o-transition: color .15s ease, background-color .15s ease, border-color .15s ease;
  transition: color .15s ease, background-color .15s ease, border-color .15s ease;
}

.big-button {
  height: 45px;
  padding: 0px 33px;
  font-size: 15px;
  line-height: 45px;
  margin: 5px;
  border-radius: 3px;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes logo {
    50% {-webkit-transform: translateY(50px);}
}

/* Standard syntax */
@keyframes logo {
    50% {transform: translateY(50px);}
}

.top-buffer {
  padding-top: 100px;
}

.half-top-buffer {
  padding-top: 50px;
}

.bottom-buffer {
  padding-bottom: 100px;
}

.half-bottom-buffer {
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.flex-title,
.flex-org {
  font-family: "Proxima Nova", "Avenir", sans-serif;
  letter-spacing: normal;
}

.partner img {
  max-width:100%;
  max-height:100%;
}

.black {
  background: #000000;
}

.white {
  background: #FFFFFF;
}

.section-paragraph {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  color: #696d71;
}

.white-text {
  color: white;
}

.section-paragraph-white {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  color: #FFF;
}

.bold {
  font-weight: 500;
}

.normal {
  font-weight: normal;
}

.hide {
  display: none;
}

.show {
  display: true;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}

.copyright {
  color: gray;
  font-size: 12px;
}
