html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
/*  font-size: 100%;
*//*  font: inherit;
*/  vertical-align: baseline; }

html,
body {
	width: 100%;
	height: 100%;
}

.donate-container {
  width: 100%;
  background-image: url("img/coins-growth.jpeg");
  background-size: 100%;
}

.works-container {
  bottom: 0;
  height: 95vh;
  width: 100%;
  background-color: black;
  position: relative;
}

.third-columns {
  display: inline-table;
  width: 31%;
  padding: 1%;
  vertical-align: top;
}

.third-columns p {
  font-size: 1.5em;
  font-weight: bolder;
}

.works-content {
  position: relative;
}

.works-blurb{
  position: absolute;
  bottom: 20%;
  left: 40%;
  color: white;
  right: 3%;
  font-size: 20px;
  line-height: 2;
}

.overlay {
  opacity: .6;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 95vh;
  background-image: url("img/help.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#facebook-button {
  opacity: 1;
  position: relative;
  height: auto;
  width: 200px;
}

#facebook-button:hover {
  opacity: 0.9;
}

#twitter-button {
  opacity: 1;
  position: relative;
  height: auto;
  width: 200px;
}

#twitter-button:hover {
  opacity: 0.9;
}

.share-links {
  z-index: 0;
}

.blue-background {
  width: 100%;
  background-color: #33C3F0;
}

.top-buffer {
  padding-top: 100px;
}

.bottom-buffer {
  padding-bottom: 100px;
}


#modal-one {
  display: none;
}

#modal-two {
  display: none;
}

.brandingLogoView{
  position: fixed;
  left: 14px;
  bottom: 14px;
  background-image: url("img/powered-by-stripe.png");
  background-size: 100% 100%;
  width: 123px;
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.flex-title,
.flex-org {
  font-family: "Proxima Nova", "Avenir", sans-serif; 
  letter-spacing: 0rem;
}

img {
  max-width:100%;
  max-height:100%;
}

.wallpaper {
	  background: url("img/splash.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.black {
    background: #000000;
}

.white {
  background: #FFFFFF;
}

.logo {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.video {
	padding-top: 50%;
}

.section-header {
  /*font-size: 70;*/
  /*font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;*/
  letter-spacing: 0.2rem;
  margin-bottom: 10px; 
  color: black;
}

.section-paragraph {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  color: #696d71;
}

.white-text {
  color: white;
}

.section-paragraph-white {
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  color: #FFF;
}

.flex-container {
  width: 85%;
  margin: auto;
  position: relative;
  padding: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;;
}

.flex-item {
  box-shadow: 0px 0px .1px black;
  display: inline;
  background: white;  
  width: 300px;
  height: 300px;
  margin: 10px;
  color: white;
  font-size: 3em;
  overflow: hidden;
  position: relative;
}

.img-container {
  height: 300px;
  max-width: none;
  position: relative;
  left: -30%;
}

.gradient-overlay {
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 80px;
  z-index: 10;
  opacity: .5;
}

.flex-text {
  color: white;
  bottom: 0px;
  left: 0px;
  position: absolute;
  z-index: 20;
  padding: 10px;
  text-shadow: 0px 0px 10px black;
}

.flex-org {
  font-size: 14px;
  font-weight: 100;
  line-height: 1
}

.flex-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

.faq-banner {
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-image: url("http://shr-consulting.com/wp-content/uploads/2014/06/Question-marks-1.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.faq-overlay {
  opacity: .65;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
  background: -webkit-linear-gradient(left top, purple , MediumSlateBlue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, purple, MediumSlateBlue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, purple, MediumSlateBlue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, purple , MediumSlateBlue); /* Standard syntax */
}

.faq-title {
  display: block;
  padding-top: 20vh;
  text-shadow: 0px 0px 30px black;
}

.answer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  cursor: default;
  font-weight: normal;
}

.question {
  cursor:pointer;
}

.bold {
  font-weight: 500;
}

.normal {
  font-weight: normal;
}

.qa-list {
  line-height: 1.5;
}

iframe#player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 405px;
  z-index: 0;
}

iframe {
	margin: auto;
}

.btn-close {
  padding-right: 10px;
}

.button-green {
  background-color: #61d395;
  border-color: #61d395;
  color: white;
}

.button-green:hover {
  background-color: #70e2a4;
  border-color: #70e2a4;
  color: white;
}

.sign-up {
  padding-top: 9px;
}

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(200, 200, 200, 0.2);
  border-right: 1.1em solid rgba(200, 200, 200, 0.2);
  border-bottom: 1.1em solid rgba(200, 200, 200, 0.2);
  border-left: 1.1em solid #33C3F0;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.show {
  display: true;
}

#navbar {
  max-width: 85%;
  margin: auto;
}

#navigation {
  z-index: 1000;
  background: rgba(255, 255, 255, 0.75);
  opacity: 1.0;
  position: fixed;
  height: 78px;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  transition: 0.5s; }
  #navigation.hidden {
    background: rgba(0, 0, 0, 0);
    opacity: 0.8;
    visibility: true; }
  #navigation li {
    display: inline-block;
    margin: 0; }
    #navigation li a {
      background: url("img/two-cents-white.png") center no-repeat;
      display: block;
      padding: 18px 0px 18px 0px;
      line-height: 20px;
      color: black; }
    #navigation li.logo-nav {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none; }
    #navigation li.logo-nav a {
      background-size: contain;
      text-decoration: none; 
      width: 150px;
      margin-top: 21px;}
    #navigation li.nav-item {
      margin-top: 6px;
      float:right; }
    #navigation li.nav-item a {
      font: normal 14px "Proxima Nova", sans-serif;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none; }
      #navigation li.nav-item a:hover {
        color: #39BAFF; }

footer {
/*  background-image:
  linear-gradient(
    to top right, 
    #2D78D8, #5EA7D1
  );*/
  background: #FFFFFF;
  color: #245dc1;
  position: relative;
  width: 100%;
  padding: 0px 0 0px 0px; }
  footer li {
    display: inline-block;
    margin: 0; }
    footer li a {
      display: block;
      padding: 12px;
      line-height: 20px;
/*      color: #245dc1; 
*/      color: black;
      letter-spacing: 0.03em;
      text-decoration: none;
      font-size: 1em; }
      footer li a:hover {
        color: #39BAFF;
      }


#fader {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 999999; /* Higher than anything else in the document */

 }
