html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html,
body {
	width: 100%;
	height: 100%;
  font-family: "Proxima Nova", "Avenir", sans-serif;
}

.gray-background {
  background-color: #f9f9f9;
}

.green-inline {
  color: #59b390;
  display: inline;
}

.inline {
  display: inline-block;
}

.pocket {
  width: 20vh;
  margin-left: -1.5%;
  padding: 40px;
}

.mission-statement a {
  text-decoration: none;
  color: #696d71;
}

.mission-statement a:hover {
  color: #39BAFF;
}

.button, #submit-button, #submit-paypal-button {
  margin-bottom: 0px;
  font-weight: 500;
  color: white;
  border-radius: 0px;
}

.button-white {
  border: 2px solid #fff  ;
  color: white;
}

.button-black {
  color: #696d71;
}

.button-black:hover {
  border: 1px solid #666;
  /*color: #234D20;*/
  /*color: #410936;*/
  /*color: #77CCA4;*/
  /*color: #3A89C9;*/
  color: #69C9A0;
}

.button-white:hover {
  background-color: white;
  color: #59b390;
  border: 2px solid #fff;
}

.big-button {
  height: 45px;
  padding: 0px 33px;
  font-size: 15px;
  line-height: 45px;
  margin: 5px;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes logo {
    50% {-webkit-transform: translateY(50px);}
}

/* Standard syntax */
@keyframes logo {
    50% {transform: translateY(50px);}
}

.top-buffer {
  padding-top: 100px;
}

.half-top-buffer {
  padding-top: 50px;
}

.bottom-buffer {
  padding-bottom: 100px;
}

.half-bottom-buffer {
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.flex-title,
.flex-org {
  font-family: "Proxima Nova", "Avenir", sans-serif;
  letter-spacing: normal;
}

img {
  max-width:100%;
  max-height:100%;
}

.black {
  background: #000000;
}

.white {
  background: #FFFFFF;
}

.section-header {
  /*font-size: 70;*/
  /*font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;*/
  /*letter-spacing: 0.2rem;*/
  margin-bottom: 10px;
  color: black;
}

.section-paragraph {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  color: #696d71;
}

.white-text {
  color: white;
}

.section-paragraph-white {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  color: #FFF;
}

.bold {
  font-weight: 500;
}

.normal {
  font-weight: normal;
}

/*Modal Stuff*/
#modal-one, #modal-two {
  display: none;
}

.brandingLogoView{
  position: fixed;
  left: 14px;
  bottom: 14px;
  background-image: url("img/powered-by-stripe.png");
  background-size: 100% 100%;
  width: 123px;
  height: 30px;
}

.btn-close {
  padding-right: 10px;
}

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(200, 200, 200, 0.2);
  border-right: 1.1em solid rgba(200, 200, 200, 0.2);
  border-bottom: 1.1em solid rgba(200, 200, 200, 0.2);
  border-left: 1.1em solid #33C3F0;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.show {
  display: true;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}
