.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.video-container .title-container {
  z-index: 100;
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.video-container .filter {
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0; 
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#close-button {
  color: white;
  z-index: -10;
  position: absolute;
  right: 0;
  top: 0;
  padding:20px;
  font-size: 1.5em;
  opacity: .8;
}

#close-button:hover{
  cursor:pointer;
}

iframe#player{
  z-index: -1000;
}

#player{
  z-index: -1000;
}

@media (min-aspect-ratio: 16/9) {
  .video-container video {
    height: 300%; top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container video {
    width: 300%; left: -100%;
  }
}

@supports (object-fit: cover) {
  .video-container video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

.splash-button {
  margin: 5px;
}

.next-arrow {
  bottom: 100px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 100;
}

.next-arrow:hover {
  cursor:pointer;
}

.triangle {
  opacity: 0.75;
  background: url('img/triangle.png') center no-repeat;
  background-size: contain;
  width: 30px;
  height: 84px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.bounce {
  -webkit-animation: bounce 2.5s infinite ease-in-out;
  -moz-animation: bounce 2.5s infinite ease-in-out;
  -ms-animation: bounce 2.5s infinite ease-in-out;
  animation: bounce 2.5s infinite ease-in-out; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@-ms-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

