.works-container {
  bottom: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.works-content {
  position: relative;
  z-index: 100;
  font-size: 0;
}

.third-columns {
  display: inline-block;
  vertical-align: top;
  opacity: 0.9;
  font-size: 12px;
  padding: 35px 0px;
}

.third-columns img {
  max-height: 150px;
}

.third-columns h4 {
  font-size: 1.5em;
}

.third-columns .button-green {
  border-color: white;
}

.works-blurb {
  font-size: 1em;
  width: 75%;
  line-height: 1.5;
}

#register {
  background-color: #61d395;
}

#share {
  background-color: dodgerblue;
}

#email {
  background-color: #f44747;
}

.share-links {
  z-index: 0;
  display: inline-block;
  padding: 2%;
}

.share-icons {
  background-size: 46px;
  height: 48px;
  width: 48px;
}

.share-icons:hover {
  background-size: 46px;
  height: 48px;
  width: 48px;
  transition: 0.2s;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-grayclear-icon.png");
  background-repeat: no-repeat;
}

#facebook-button:hover {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-grayclear-icon.png");
  background-repeat: no-repeat;
}

#twitter-button:hover {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .third-columns {
    width: 100%;
    font-size: 20px;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .third-columns {
    width: 33.33333%;
    height: 355px;
    font-size: 12px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .third-columns {
    height: 410px;
    font-size: 16px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .third-columns {
    height: 460px;
    font-size: 20px;
  }
}
