.works-container {
  width: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('img/penny-jar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.works-content {
  position: absolute;
  z-index: 100;
  font-size: 0;
}

.works-content h1 {
  padding-bottom: 30px;
}

.third-columns {
  display: inline-block;
  vertical-align: top;
  opacity: 0.9;
  font-size: 12px;
  padding: 35px 0px;
}

/* ADDITIONS FOR ANIMATIONS */
.icons-mask {
  height: 200px;
  width: 200px;
  z-index: 9;
  cursor: default;
  overflow: hidden;
  position: relative;
}

.icons-mask img {
  height: 150px;
  width: 150px;
  /* ADDITIONS FOR ANIMATIONS */
  display: block;
  left: 10px;
  margin-left: -10px;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* ADDITIONS FOR ANIMATIONS */
.icons-mask:hover > img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
/*  filter: alpha(opacity=30);
  opacity: 0.6;*/
}

.third-columns h4 {
  font-size: 1.5em;
}

.third-columns .button-green {
  border-color: white;
}

.works-blurb {
  font-size: 1em;
  width: 75%;
  line-height: 1.5;
  color: white;
}

/* One Background Color */
/*#register, #share, #email {
  background-color: #f6f6f6;
}*/

/* Three Separate Background Colors */
/*#register {
  background-color: #61d395;
}

#share {
  background-color: dodgerblue;
}

#email {
  background-color: #f44747;
}*/

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
  padding: 10px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .third-columns {
    width: 100%;
    font-size: 20px;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .third-columns {
    width: 33.33333%;
    height: 355px;
    font-size: 12px;
  }
/*  #register, #share, #email {
    background-image: url("");
    background-color: #f6f6f6;
  }*/
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .third-columns {
    height: 410px;
    font-size: 16px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .third-columns {
    height: 460px;
    font-size: 20px;
  }
}
