.share-links {
  z-index: 0;
  display: inline-block;
  padding: 15px;
}

.share-icons {
  background-size: 60px;
  height: 60px;
  width: 60px;
}

.share-icons:hover {
  transition: 0.1s;
}

.project-container {
  text-align: center;
}

.project-image {
  background: black;
  width: 100%;
}

.project {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fake-padding {
  display: inline-block;
  float: none;
  width: 30px;
}

#facebook-button {
  position: relative;
  background-image: url("img/facebook-circle-filled-icon.png");
  background-repeat: no-repeat;
}

#twitter-button {
  position: relative;
  background-image: url("img/twitter-circle-blue-filled-icon.png");
  background-repeat: no-repeat;
}