Hello {{user}}, 

<br><br>

Thank you for signing up! Your two cents donations have begun (they will show as a $1 charge every fifty days on your bank statement).

We really appreciate your contribution and hope you can help us spread the word by telling your friends and family.

We will reach you again at this email once we have collected enough donations to help make a difference.

<br><br>
Here's to saving the world,<br>
The Two Cents Team<br>
<a href="https://twocentsaday.com/">https://twocentsaday.com/</a>