<template name="registrationComplete">
	<center class="modal-registration-complete">
	<img src="img/twocents.png"><br>
	Your donor registration was a success! You will receive a confirmation email from us shortly.  Thank you for making a difference and giving your two cents a day. <br><br>

	<div class="weight-600">Please help us spread the word, and share your Two Cents!</div>
	{{>share}}
	<br>

	If you have any questions, feel free to contact us at <a href="mailto:hello@twocentsaday.com">hello@twocentsaday.com</a>. <br>

	You can find us on:
	<a href="https://www.facebook.com/twocentsaday">Facebook</a> | <a href="http://twitter.com/twocentsaday_">Twitter</a>
	</center>
</template>

<template name="stripePayment">
	<!-- Stripe -->
	<div class="modal">
	  <input class="modal-open" id="modal-one" type="checkbox" hidden>
	  <div class="modal-wrap" aria-hidden="true" role="dialog">
	    <label class="modal-overlay" for="modal-one"><div class="brandingLogoView"></div></label>

	    <div class="modal-dialog">
	      <div class="modal-header">
	        <h2>Two Cents Donor Registration</h2>
	        <p class="{{#if submitted}}hide{{else}}show{{/if}} modal-description">Your two cents a day donation is equivalent to $1 every 50 days; $1 will the be charged to your credit card every 50 days, with no transaction fees. 100% of your donations goes directly to our partnered nonprofits.</p>
	        <label class="btn-close" for="modal-one" aria-hidden="true">× </label>
	      </div>
	      <div class="modal-body">
			<div class="{{#if success}}hide{{else}}{{#if submitted}}show{{else}}hide{{/if}}{{/if}}"><div class="loader"></div><p align="center">One moment while we sign you up ... </p></div>
			<div class="{{#if success}}show{{else}}hide{{/if}}">
				{{> registrationComplete}}
			</div>
			<form id='donation-form' class="{{#if submitted}}hide{{else}}show{{/if}}">
			  <div class="row">
			    <div class="six columns">
			      <label for="nameInput">Your name</label>
			      <input class="u-full-width full-name paymentInput" type="text" placeholder="Name" id="nameInput" required>
			    </div>
			    <div class="six columns">
			      <label for="emailInput">Your email</label>
			      <input class="u-full-width e-mail paymentInput" type="email" placeholder="Email" id="emailInput" required>
			    </div>
			  </div>
			  <div class="row">
			  	<div class="six columns">
			  		<div class="cc-num__wrap">
			  		<label for="cardInput">Your credit or debit card</label>
				  		<input class="u-full-width cc-num paymentInput" type="text" placeholder="Card number" id="cardInput" autocomplete="cc-number" data-stripe="number" required>
				  	    <span class="card" aria-hidden="true"></span>
			  		</div>
			  	</div>

			  	<div class="three columns">
			  		<label for="expirationInput">Expiration date</label>
			  		<input class="u-full-width cc-exp paymentInput" type="text" placeholder="MM/YYYY" id="expirationInput" autocomplete="cc-exp" required>
			  	</div>

			  	<input type="text" id="stripeMonth" data-stripe="exp-month" hidden>
			 	<input type="text" id="stripeYear" data-stripe="exp-year" hidden>

			  	<div class="three columns">
			  		<label for="cvcInput">Security code</label>
			  		<input class="u-full-width cc-cvc paymentInput" type="text" placeholder="CVC" id="cvcInput" autocomplete="off" data-stripe="cvc" required>
			  	</div>
			  </div>

			  <label for="commentInput">Feel free to leave a comment!</label>
			  <textarea class="u-full-width" placeholder="Message" id="commentInput"></textarea>
			  <div class="modal-footer">
			  	<input class="button" id="submit-button" type="submit" value="start donating">
			  </div>
			</form>

	      </div>
	    </div>
	  </div>
	</div>
</template>