<template name="emailTemplate">
	<div>
		<style>
			/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/
			p {font-family: helvetica, sans-serif; font-weight: lighter;}
		</style>

		<center>
			<img style="width:200px;height:200px;padding-top:50px" src="https://s3-us-west-2.amazonaws.com/twocentsaday/twocents.png">
		</center>
		<br>
		<div style="width:500px;margin-left:auto;margin-right:auto">
			<p style="font-size:14px">Hello {{user}},</p>

			<p style="font-size:14px">Thank you for registering to be a Two Cents donor! Your two cents a day donations have begun, and will show as a $1.00 charge every fifty days on your bank statement, starting from today.<br><br>

			100% of your two cent donations goes directly to the projects of our partnered nonprofit organizations.  We are grateful for your contributions and hope you can help us spread the word by telling your friends and family about Two Cents.<br><br>

			You will receive a monthly update from us.  When we reach and complete a project goal, we will be sure to let you know how and where your two cents made a difference.<br><br>

			Here's to saving the world,<br>
			The Two Cents Team<br>
			<a href="https://twocentsaday.com/">twocentsaday.com</a>
			</p>
			<center>
				<p style="font-size:12px"><a href="https://www.facebook.com/twocentsaday">Facebook</a> | <a href="http://twitter.com/twocentsaday_">Twitter</a> | <a href="mailto:info@twocentsaday.com">Email</a> | <a href="http://twocentsaday.com">Website</a></p>
			</center>
		</div>
		<br>
		<div style="width:500px;margin-left:auto;margin-right:auto;">
			<p style="font-size:11px;color:gray;">
			<i>Copyright © 2015 Two Cents, All rights reserved.</i>
			<br><br>
			You are receiving this email because you have signed up to be a registered donor, and receive updates from Two Cents.  To unsubscribe, please email <a style="text-decoration:none;color:gray" href="mailto:info@twocentsaday.com">info@twocentsaday.com</a>.</p> 
			<br>
		</div>
	</div>
</template>