<template name="legal">
	<div class="legal-banner">
		<div class="legal-overlay"></div>
		<div class="container">
			<center>
				<h1 class="white-text banner-title">Legal</h1>
			</center>
		</div>
	</div>
	<article id="privacy" class="container">
		<div class="top-buffer bottom-buffer">
			<h3>Privacy Policy</h3><br>
			<p>
				Two Cents will only collect and use your personal information for newsletters and/or updates about our progress. Transparency of donations is one of our most important philosophies and we want to ensure that you as a subscriber know what your money is going toward. In no way will we ever disclose your personal information without your explicit conzent.

				<br><br>

				As Two Cents evolves, this privacy policy is likely to evolve with it. We will not reduce your rights under this policy without your explicit consent. We will post any policy changes on this page and, if the changes are significant, we will provide a more prominent notice.

				<br><br>

				If at any point you feel that your privacy is at risk, feel free to contact us at privacy@twocentsaday.com</p>
		</div>

		<div class="bottom-buffer">
			<h3>Terms and Conditions</h3><br>
			<p>
				Welcome to twocentsaday.com. The twocentsaday.com website (the "Site") is comprised of various web pages operated by Two Cents twocentsaday.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of twocentsaday.com constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.<br><br>
 
				Two Cents provides a subscription service that allows users to donate two cents a day (Credit Card: formed as $1 every fifty days, Paypal: $1.22 every two months). Once we collect enough donations we will help a partnering nonprofit organization achieve their goals by providing them the necessary funding.<br><br>

				By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you should not access the Service.<br><br></p>

				<h5>Acceptable Use</h5><br>
				<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p><br>

				<h5>Cancellation/Refund Policy</h5><br>
				<p>You may cancel your subscription at any time. Please contact us at unsubscribe@twocentsaday.com and we will remove you from our services.</p><br>

				<h5>Links To Other Web Sites</h5><br>
				<p>
				twocentsaday.com may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Two Cents and Two Cents is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Two Cents is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Two Cents of the site or any association with its operators. <br><br>
 
				Certain services made available via twocentsaday.com are delivered by third party sites and organizations. By using any product, service or functionality originating from the twocentsaday.com domain, you hereby acknowledge and consent that Two Cents may share such information and data with any third party with whom Two Cents has a contractual relationship to provide the requested product, service or functionality on behalf of twocentsaday.com users and customers.<br><br></p>

				<h5>No unlawful or prohibited use/Intellectual Property</h5><br>
				<p>
				You are granted a non-exclusive, non-transferable, revocable license to access and use twocentsaday.com strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Two Cents that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.<br><br>
 
				All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Two Cents or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.<br><br>
 
				You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Two Cents content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Two Cents and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Two Cents or our licensors except as expressly authorized by these Terms.<br><br></p>

				<h5>Third Party Accounts</h5><br>
				<p>
				You will be able to connect your Two Cents account to third party accounts. By connecting your Two Cents account to your third party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third party sites). If you do not want information about you to be shared in this manner, do not use this feature.
				</p><br>

				<h5>Governing Law</h5><br>
				<p>
				These Terms shall be governed and construed in accordance with the laws of United States, without regard to its conflict of law provisions.<br><br>

				Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.<br><br></p>

				<h5>Changes</h5><br>
				<p>
				Two Cents reserves the right, in its sole discretion, to change the Terms under which twocentsaday.com is offered. The most current version of the Terms will supersede all previous versions. Two Cents encourages you to periodically review the Terms to stay informed of our updates.<br><br>

				By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.<br><br></p>

				<h5>Contact Us</h5><br>
				<p>
					If you have any questions about these Terms, please contact us at <a href="mailto:privacy@twocentsaday.com" target="_blank">privacy@twocentsaday.com</a>.
				</p><br>

		</div>
	</article>
</template>