<template name="team">
	<article id="team">
		<center>
		<h2 class="about-title">Our Team</h2>
		</center>
		<div class='founder-row'>
			<center>
			<div class='team_member'>
				<img class='icon' id='maruchi-pic' src="img/maruchi-circle-small.png"/>
				<div class='team_member_title'>
					<h3>Maruchi Kim</h3>
					<p>Co-Founder & Tech</p>
				</div>
			</div>
			<div class='team_member'>
				<img class='icon' id='emily-pic' src="img/emily-circle-small.png"/>
				<div class='team_member_title'>
					<h3>Emily Chen</h3>
					<p>Co-Founder & Ops</p>
				</div>
			</div>
			<div class='team_member'>
				<img class='icon' id='quinn-pic' src="img/quinn-circle-small.png"/>
				<div class='team_member_title'>
					<h3>Quinn Shen</h3>
					<p>Co-Founder</p>
				</div>
			</div>
			<div class='team_member'>
				<img class='icon' id='shyam-pic' src="img/shyam-circle-small.png"/>
				<div class='team_member_title'>
					<h3>Shyam Kumar</h3>
					<p>Co-Founder</p>
				</div>
			</div>
			</center>

			<div class="container">
				<div class="row">
					<div class="ten columns">
						<div id='founder-text'></div>
					</div>
					<div class="two columns">
						<div class='founder-icons'>
							<center>
							<div id='maruchi-icons'>
								<a href="mailto:maruchi@twocentsaday.com"><img class='contact-icons' src="img/gmail-gray.png"/></a>
								<a href="https://www.linkedin.com/in/maruchik" target="_blank"><img class='contact-icons' src="img/linkedin-gray.png"/></a>
							</div>
							<div id='emily-icons'>
								<a href="mailto:emily@twocentsaday.com"><img class='contact-icons' src="img/gmail-gray.png"/></a>
								<a href="https://www.linkedin.com/in/emilychen55" target="_blank"><img class='contact-icons' src="img/linkedin-gray.png"/></a>
							</div>
							<div id='quinn-icons'>
								<a href="mailto:quinn@twocentsaday.com"><img class='contact-icons' src="img/gmail-gray.png"/></a>
								<a href="https://www.linkedin.com/in/quinnzshen" target="_blank"><img class='contact-icons' src="img/linkedin-gray.png"/></a>
							</div>
							<div id='shyam-icons'>
								<a href="mailto:shyam@twocentsaday.com"><img class='contact-icons' src="img/gmail-gray.png"/></a>
								<a href="https://www.linkedin.com/pub/shyam-kumar/65/160/a95" target="_blank"><img class='contact-icons' src="img/linkedin-gray.png"/></a>
							</div>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</template>
